$color-nav-background : #ffff;
$color-input-Container : #f1f2f1;
$color-input-Container-button-hover : #c0bfbc;
$color-login-Container : #fe2c55;
$color-login-Container-hover : #ed1c24;
$color-body-background : rgba(0, 0, 0, 0.5);
$color-SignUp : #ff4c3a;